/*
Taplate
<!-- Schlagwörter -->
<div class="keyword">
    <b>Schlagworte</b><br> 
    <i>Jahreszahlen:</i><br> 
    <i>Orte:</i> <br> 
    <i>Personen:</i> <br> 
    <i>Sonstiges:</i> 
</div>

<!-- Randbemerkungen -->
<sup>[]</sup>
<div class="randnotiz">
    <b>[]</b>: 
</div>

<!-- Zitat -->
<span class="shortcite">
*/

body {
    align: center;
    color: black;
    background: white;
    font: 100% Verdana; 
    width: 90%;
    margin: 2%;
    padding: 2%;
}

small{
    font: 70% Arial; 
}


p{
    width: 50%;
    text-align: justify;
    margin: 10px; 
    padding: 5px;
}

p.center{
    align: center;
    text-align: center;
    width: 50%;
    margin: 10px; 
    padding: 5px;
}

p.intro{
    font: bold 60% Verdana;
    align: center;
    text-align: center;
    width: 90%;
    margin: 10px; 
    padding: 5px;
}

div.randnotiz {
    font: 80% Arial;
/*     font: 70% Arial; */
    background-color: #FFFFFF;
    color: black;
    float: right; 
    clear: right; 
    margin: 10px; 
    padding: 5px;
    width: 40%;
    border-radius: 10px;
    border-style: solid;
    border-color: #4e3603;
    -moz-box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    -webkit-box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    box-shadow: 15px 15px 15px rgba(0,0,0, .25);
}

/* span.note_nr { */
sup {
    font: bold 60% Verdana;
    line-height: 5px;
/*    margin: 20px 0px 20px 0px; 
    padding: 20px 0px 20px 0px;*/
}

div.keyword {
    font: 80% Arial;
/*     font: 70% Arial; */
    background-color: #FFFFFF;
    color: white;
    float: right; 
    margin: 10px; 
    padding: 5px;
    width: 40%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    -moz-box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    -webkit-box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    background: linear-gradient( top, black, #b17c0a );
    background: -webkit-linear-gradient( top, black, #b17c0a );
    background: -moz-linear-gradient( top, black, #b17c0a );
    background: -ms-linear-gradient( top, black, #b17c0a );    
    background: -o-linear-gradient( top, black, #b17c0a );    
}

br.clear {
  clear:both;
}

span.shortcite{
    font: 80% Verdana; 
    font-style:italic;
    background-color: #CFD762;
    padding:2px 20px 2px 20px; 
    margin: 0px 4px 0px 4px;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0, .25);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0, .25);
    box-shadow: 2px 2px 2px rgba(0,0,0, .25);
}

div.bigcite{
    width: 70%;
    font-family: Verdana;
    font-style:italic;
    background-color: #CFD762;
    padding: 20px 40px 20px 40px;
    margin: 0px 40px 0px 140px;
    border-radius: 10px;
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0, .25);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, .25);
    box-shadow: 3px 3px 3px rgba(0,0,0, .25);
}

div.rightside {
    text-align: right ;
    align: right ;
    padding: 0px 30px 30px 0px;
/*    margin: 5px;*/
}


div.rightside a {
    -moz-box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    -webkit-box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    box-shadow: 15px 15px 15px rgba(0,0,0, .25);
/*    margin: 5px;*/
}

li{
    width: 50%;
    text-align: justify;
    margin: 3px 3px 3px 10px ; 
    padding: 3px;
}

dt{
    margin:  0px 0px 0px 20px;
    width: 50%;
    text-align: justify;
    margin: 0px 0px 0px 10px ; 
    padding: 5px;
}

dd{
    width: 50%;
    text-align: justify;
    margin: 0px 0px 0px 40px ; 
 /*   padding: 5px;*/
}

h1 {
    -moz-box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    -webkit-box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    box-shadow: 15px 15px 15px rgba(0,0,0, .25); 
    color: black;
    background-color:#ccac66;
    margin: 10px; 
    padding: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: #4e3603;
}

h2 {
    -moz-box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    -webkit-box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    box-shadow: 15px 15px 15px rgba(0,0,0, .25); 
    color: black;
    background-color:#ccac66;
    margin: 10px; 
    padding: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: #4e3603;
}

h3 {
    margin: 10px; 
    padding: 5px;
}
    
/* ############################################################################### */
/* ------------ languagebox -----------------*/

div.languagebox {
    align: right;
    text-align: right;
}

/* ------------ banner -----------------*/

div.bannerbox {
/*     width: 95%; */
    align: center; 
    z-index: 6000;
}

div.bannerbox {
    border-width: 10px;
    border-style: solid;
    border-color: #c1c1c1;
    border-color: rgba( 192, 192, 192, .90 );
/*    border-radius: 10px;*/
    background-color: black;
/*     margin:5px 5px 5px 5px; */
    padding: 0px;
    margin: 5px;
}

div.bannerbox img{
    width: 100%;
    height: 100%;
    align: center;
    vertical-align: middle;
}

/* --------------- main menue -------------------- */
div.mainmenu{
/*     width: 100%; */
    align: center;
    padding: 0px;
    margin: 0px;
}
div.line {
    background: #FFA601;
    padding: 2px;
    margin: 5px 5px 0px 5px;
}

div.mainmenu ul {
    list-style: none;
    padding: 0px;
    margin: 0px 5px 0px 5px;
/*     background:#000000 */
}

div.mainmenu li {
    display: inline-block;
    padding: 0 0 0 0 ;
    background:#373737;
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    background: linear-gradient( top, #373737, #A0A0A0);
    background: -webkit-linear-gradient( top, #373737, #A0A0A0);
    background: -moz-linear-gradient( top, #373737, #A0A0A0);
    background: -ms-linear-gradient( top, #373737, #A0A0A0);
}

div.mainmenu li a {
    display: block;
    color:#fff;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
    margin: 5px;
}

div.mainmenu li a span {
    display: block;
    margin: 0;
    padding: 0px;
}

div.mainmenu li#activ {
    padding-left: 0px;
    background: #c1c1c1;
    font: 120% Arial; 
    margin: 5px 0 5px 5px ;
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    background: linear-gradient( top, #fff, #c1c1c1);
    background: -webkit-linear-gradient( top, #fff, #c1c1c1);
    background: -moz-linear-gradient( top, #fff, #c1c1c1);
    background: -ms-linear-gradient( top, #fff, #c1c1c1);
}

div.mainmenu li#activ a {
    color: black;
}

div.mainmenu li#activ span {
    padding-left: 15px;
}


div.mainmenu li#activ {
    margin: 0 5px 0 0;
    padding: 0 ;
}

div.mainmenu li#activ span {
    display: block;
    margin: 0;
    padding: 15px;
}


/* ============ application box ===================== */

div.appbox {
/*     width: 95%; */
    align: center;
    text-align: center;
    border-width: 10px;
    border-style: solid;
    border-color: #c1c1c1;
    border-color: rgba( 192, 192, 192, .90 );
    background-color: #FFFFFF;
    padding: 10px;
    margin: 0px 5px 0px 5px;
}


div.appbox br.clear {
  clear:both;
}

div.warning{
    margin:  10px;
    background-color: #FF958D;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding: 10px;
}

/*div.appbox div.okay{*/
div.okay{
    margin:  10px;
    border-width: 2px;
    background-color: #A6FF9A;
    border-radius: 10px;
    border-style: solid;
/*     border-color: black; */
    border-color: #c1c1c1; 
    padding: 10px;
}

div.groupbox{
    align: center;
    text-align: center;
    background-color: #c1c1c1;
/*     width:100%; */
    border-radius: 10px;
    padding: 10px;
    margin:  10px;
}

/*div.aclbox div.innerbox{*/
div.inerbox{
    align: center;
    text-align: center;
    background-color: #FFFFFF;
/*     width:100%; */
    border-radius: 10px;
    -moz-box-shadow: 10px 10px 10px rgba(0,0,0, .25);
    -webkit-box-shadow: 10px 10px 10px rgba(0,0,0, .25);
    box-shadow: 10px 10px 10px rgba(0,0,0, .25);
    padding: 5px;
    margin:  5px;
}

/* ========================== appbox ======================== */

div.appbox p{
/*    width: 40%; */
    align: left;
    text-align: left;
    padding: 15px;
/*     margin:  10px 30% 10px 100px; */
}




div.appbox h1{
    padding: 15px;
    margin:  10px 10px 10px 10px;
    border-color: #5C5C5C;
    border-radius: 10px;
    border-style: solid;
    -moz-box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    -webkit-box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    box-shadow: 15px 15px 15px rgba(0,0,0, .25);
}

div.appbox h2{
    padding: 15px;
    margin:  0px 10px 0px 10px;
    border-color: #5C5C5C;
    border-radius: 10px;
    border-style: solid;
    -moz-box-shadow: 10px 10px 10px rgba(0,0,0, .25);
    -webkit-box-shadow: 10px 10px 10px rgba(0,0,0, .25);
    box-shadow: 10px 10px 10px rgba(0,0,0, .25);
}

div.appbox h3{
    padding: 10px;
    margin:  0px 10px 0px 10px;
    border-width: thin;
    border-color: #5C5C5C;
    border-radius: 5px;
    border-style: solid;
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0, .25);
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0, .25);
    box-shadow: 5px 5px 5px rgba(0,0,0, .25);
}

div.appbox form {
/*    width:100px;*/
/*    margin: 100px auto 0; 
    margin-top: 0;     */  
} 

div.appbox table{
/*    width:100px;*/
    align: left;
    text-align: left;
/*    margin: 100px auto 0; 
    margin-top: 0; */
}


div.appbox table#result{
    align: center;
    border-collapse:collapse;
    padding: 2px;
}

div.appbox table#result th{
    border: 2px solid #c1c1c1;
    padding: 0px 5px 0px 5px;
    background-color: #000080;
    color:white;
}


/* ============ ACL box ===================== */

div.aclbox {
/*     width: 95%; */
/*    align: center;
    text-align: center;*/
    border-width: 10px;
    border-style: solid;
    border-color: #c1c1c1;
    border-color: rgba( 192, 192, 192, .90 );
    background-color: #FFFFFF;
    padding: 10px;
    margin: 0px 5px 0px 5px;
}

div.aclbox h2{
    padding: 15px;
    margin:  0px 10px 0px 10px;
    border-color: #5C5C5C;
    border-radius: 10px;
    border-style: solid;
    -moz-box-shadow: 10px 10px 10px rgba(0,0,0, .25);
    -webkit-box-shadow: 10px 10px 10px rgba(0,0,0, .25);
    box-shadow: 10px 10px 10px rgba(0,0,0, .25);
}


div.aclbox h3{
    padding: 10px;
    margin:  0px 10px 0px 10px;
    border-color: #5C5C5C;
    border-radius: 5px;
    border-style: solid;
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0, .25);
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0, .25);
    box-shadow: 5px 5px 5px rgba(0,0,0, .25);
}



/*div.aclbox div.innerbox{*/
div.aclbox div.inerbox{
    align: left;
    text-align: left;
    background-color: #FFFFFF;
/*     width:100%; */
    border-radius: 10px;
    -moz-box-shadow: 10px 10px 10px rgba(0,0,0, .25);
    -webkit-box-shadow: 10px 10px 10px rgba(0,0,0, .25);
    box-shadow: 10px 10px 10px rgba(0,0,0, .25);
    padding: 5px 15px 5px 15px;
    margin:  5px;
}

/* ============ docomentation box ===================== */

div.docbox {
/*    align: center;
    text-align: center;*/
    border-width: 10px;
    border-style: solid;
    border-color: #c1c1c1;
    border-color: rgba( 192, 192, 192, .90 );
    background-color: #FFFFFF;
    padding: 10px;
    margin: 0px 5px 0px 5px;
}




div.docbox div.warning{
    background-color: #FF958D;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    margin: 5px;
}

div.docbox div.okay{
    margin:  10px 10px 10px 20px;
    border-width: 2px;
    background-color: #A6FF9A;
    border-radius: 10px;
    border-style: solid;
/*     border-color: black; */
    border-color: #c1c1c1;
    padding: 10px;
    margin: 10px;
}


div.docbox h1{
    padding: 15px;
    margin:  20px 10px 10px 20px;
    border-color: #5C5C5C;
    border-radius: 10px;
    border-style: solid;
    -moz-box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    -webkit-box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    box-shadow: 15px 15px 15px rgba(0,0,0, .25);
}

div.docbox h2{
    padding: 15px;
    margin:  20px 15px 0px 20px;
    border-color: #5C5C5C;
    border-radius: 10px;
    border-style: solid;
    -moz-box-shadow: 10px 10px 10px rgba(0,0,0, .25);
    -webkit-box-shadow: 10px 10px 10px rgba(0,0,0, .25);
    box-shadow: 10px 10px 10px rgba(0,0,0, .25);
}

div.docbox h3{
    padding: 10px;
    margin:  0px 20px 0px 30px;
    border-width: thin;
    border-color: #5C5C5C;
    border-radius: 5px;
    border-style: solid;
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0, .25);
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0, .25);
    box-shadow: 5px 5px 5px rgba(0,0,0, .25);
}



div.docbox p{
/*     width: 95%; *//*
    align: center;*/
    padding: 20px 40px 20px 40px;
    margin: 0px 40px 0px 40px;
    text-align: justify;
}


div.docbox table{
    width: 90%;
    text-align: left;
    align: left;
    padding: 20px;
    margin: 0px 40px 0px 40px;
}

div.docbox table tr {
/*     background-color: black; */
    -moz-box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    -webkit-box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    
}

div.docbox table th{
    align: center;
    text-align: center;
    background-color: #B3D7FF;
    padding: 10px;
    margin: 0px ;
    
}

div.docbox table td#title{
    background-color: #000080;
    color:white;
    padding: 0px 10px 0px 10px;
    margin: 0px ;
}

div.docbox table td {
    background-color: #F2F2F2;
    padding: 0px 10px 0px 10px;
    margin: 0px ;
    
}

div.docbox table td#odd{
    background-color: #F2F2F2;
    padding: 0px 10px 0px 10px;
    margin: 0px ;
    
}



div.docbox li {
/*    list-style-type: none;*/
    padding: 3px;
    margin: 0px 40px 0px 80px;
}

div.docbox img {
/*    align: center;
    text-align: center;*/
    float: right; 
    clear: right; 
    margin: 0px 20px 10px 20px;
    width: 40%;
    border-radius: 10px;
    border-style: solid;
    border-color: #c1c1c1;
    -moz-box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    -webkit-box-shadow: 15px 15px 15px rgba(0,0,0, .25);
    box-shadow: 15px 15px 15px rgba(0,0,0, .25);
}



/* ======================= footer ======================= */
div.footer {
/*     width: 100%; */
    align: center;
    text-align: center;
    padding: 10px;
    margin: 0px 5px 5px 5px;
    color: #000080;
    background-color:#c1c1c1;
}


